@import "../../styles/vars";
@import "../../styles/mixins";

.protocols-container {
    font-family: 'Roboto';
    box-shadow: -1px 0px 4px -1px rgba(0,0,0,0.75);

    .protocol-header {
        background: $main-blue;
        color: white;

        .logo-text {
            line-height: 53px;
            font-family: $font-family-logo;
            font-size: 1.8rem;
            padding-left: 8px;
        }
    }

    .protocol-logo-zone {
        background: $main-white;

        img {
            @include v-margin(12px);
        }

        .left-panel {
            padding-left: 12px;

            .so-buttons-row {
                margin-left: 24px;
            }
        }
    }

    .protocol-players-zone {
        background: $main-white;
        @include h-padding(12px);

        .table {
            thead {
                th {
                    font-family: $font-family;
                    font-size: 1.2rem;
                    text-align: center;
                }
            }

            tbody {
                td {
                    vertical-align: middle;
                }
            }
        }
    }

    .protocol-footer {
        background: $main-white;
        padding-bottom: 8px;

        #onvote, #notonvote {
            min-height: 36px;
            line-height: 36px;
        }
    }
}

.protocol-aside, .protocol-right-aside {
    margin-top: 53px;
    background-color: $main-white;
}

.protocol-aside {
    border-right: 1px solid $grey;

    .protocol-aside-block {
        border-bottom: 1px solid $grey;
        min-height: 54px;

        .small-numeric {
            width: 40px;

            input {
                text-align: center;
            }
        }

        .input-container {
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;

            .mat-input-container {
                margin-right: 4px;
            }
        }
    }
}

.protocol-right-aside {
    border-left: 1px solid $grey;
    @include v-padding(8px);
    
    .timer-table {
        font-size: 8rem;
        font-family: $font-family;
        font-weight: bold;
        padding-bottom: 24px;
    }
}

.so-buttons-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    .disabled-row {
        background-color: $grey;
    }
}

.white-label-select {
    .mat-select-value-text {
        color: $main-white !important;
    }

    .mat-select-arrow {
        color: $main-white !important;
    }
}

.player-index-container {
    background: $main-red-hover;
    color: $main-white;
    @include h-padding(4px);
    @include v-padding(4px);
}

.table-circle {
    text-align: center;
    margin-top: 20px;
    max-height: 500px;

    ul {
        list-style: none;
        margin-left: -40px;

        li:nth-child(2) {
            button {
                transform: translateX(110px) translateY(-40px);
            }
        }

        li:nth-child(3) {
            button {
                transform: translateX(180px) translateY(-40px);
            }
        }

        li:nth-child(4) {
            button {
                transform: translateX(180px) translateY(-20px);
            }
        }

        li:nth-child(5) {
            button {
                transform: translateX(110px) translateY(-20px);
            }
        }

        li:nth-child(6) {
            button {
                transform: translateY(-60px);
            }
        }

        li:nth-child(7) {
            button {
                transform: translatex(-110px) translateY(-192px);
            }
        }

        li:nth-child(8) {
            button {
                transform: translateX(-180px) translateY(-364px);
            }
        }

        li:nth-child(9) {
            button {
                transform: translateX(-180px) translateY(-556px);
            }
        }

        li:nth-child(10) {
            button {
                transform: translateX(-110px) translateY(-728px);
            }
        }
    }
}

.result-container {
    width: 100%;
    @include calc(margin-left, "50% - 75px");

    .result-wrapper {
        width: 150px;
        transform: translateY(-710px);
    }
}