<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 protocol-aside">
            <div class="protocol-aside-block row center-vertical">
                <div class="col-lg-4 font-family-alt">Вбивства:</div>
                <div class="col-lg-8 input-container">
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10"/>
                    </md-input-container>
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                </div>
            </div>
            <div class="protocol-aside-block row center-vertical">
                <div class="col-lg-4 font-family-alt">Голосування вдень:</div>
                <div class="col-lg-8 input-container">
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                </div>
            </div>
            <div class="protocol-aside-block row center-vertical">
                <div class="col-lg-4 font-family-alt">Кращий хід:</div>
                <div class="col-lg-8 input-container">
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                </div>
            </div>
            <div class="protocol-aside-block row center-vertical">
                <div class="col-lg-4 font-family-alt">Відгадайка:</div>
                <div class="col-lg-8 input-container">
                    <md-checkbox class="white"></md-checkbox>
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                </div>
            </div>
            <div class="protocol-aside-block row center-vertical">
                <div class="col-lg-4 font-family-alt">Звірки дона:</div>
                <div class="col-lg-8 input-container">
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                </div>
            </div>
            <div class="protocol-aside-block row center-vertical">
                <div class="col-lg-4 font-family-alt">Звірки шерифа:</div>
                <div class="col-lg-8 input-container">
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                </div>
            </div>
            <div class="protocol-aside-block row center-vertical">
                <div class="col-lg-8 font-family-alt">Шериф не отримує -1:</div>
                <div class="col-lg-4 input-container">
                    <md-checkbox class="white"></md-checkbox>
                </div>
            </div>
            <div class="protocol-aside-block row center-vertical">
                <div class="col-lg-8 font-family-alt">Чиста перемога мафії:</div>
                <div class="col-lg-4 input-container">
                    <md-checkbox class="white"></md-checkbox>
                </div>
            </div>
            <div class="protocol-aside-block row center-vertical">
                <div class="col-lg-8 font-family-alt">Чиста перемога мирних:</div>
                <div class="col-lg-4 input-container">
                    <md-checkbox class="white"></md-checkbox>
                </div>
            </div>
            <div class="protocol-aside-block row center-vertical">
                <div class="col-lg-8 font-family-alt">Три звірки:</div>
                <div class="col-lg-4 input-container">
                    <md-checkbox class="white"></md-checkbox>
                </div>
            </div>
            <div class="protocol-aside-block row center-vertical">
                <div class="col-lg-8 font-family-alt">Лжешериф:</div>
                <div class="col-lg-4 input-container">
                    <md-input-container class="pull-right so-input white small-numeric" style="width: 70px;">
                        <input mdInput type="number" min="0" max="10" />
                    </md-input-container>
                </div>
            </div>
            <div class="protocol-aside-block row center-vertical">
                <div class="col-lg-4 font-family-alt">Перемога:</div>
                <div class="col-lg-8 input-container">
                    <md-radio-group>
                        <md-radio-button>Мирні</md-radio-button>
                        <md-radio-button style="margin-left: 12px;">Мафія</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div class="protocol-aside-block row center-vertical">
                <div class="col-lg-12 text-center">
                    <button md-button class="so-primary-button giant-button blue-button">
                        Підрахувати
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 protocols-container">
            <div class="protocol-header row">
                <div class="col-lg-4">
                    <span class="logo-text">SALUTE ONLINE PROTOCOL</span>
                </div>
                <div class="col-lg-8">
                    <md-input-container class="pull-right so-input custom-input-container white" style="max-width: 100px;">
                        <input mdInput type="number" placeholder="гра" min="0"/>
                    </md-input-container>
                    <md-input-container class="pull-right so-input custom-input-container white" style="margin-right: 12px; max-width: 100px;">
                        <input mdInput type="number" placeholder="стіл" min="0"/>
                    </md-input-container>
                </div>
            </div>
            <div class="protocol-logo-zone row">
                <div class="col-lg-3">
                    <div class="left-panel">
                        <md-slide-toggle class="so-toggle">
                            Ніч
                        </md-slide-toggle>
                        <div class="so-buttons-row">
                            <button md-raised-button class="so-primary-button">
                                Шериф
                            </button>
                            <button md-raised-button class="so-primary-button" style="margin-left: 4px">
                                Дон
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <img src="/content/Logojust.png" alt="Logo" width="90" height="100"/>
                </div>
                <div class="col-lg-3 center-vertical" style="height: 124px;">
                    <div class="right-panel text-right">
                        <button md-raised-button class="so-primary-button" style="margin-bottom: 4px;">
                            Таймер
                        </button>
                        <button md-raised-button class="so-primary-button">
                            Плеєр
                        </button>
                    </div>
                </div>
            </div>
            <div class="protocol-players-zone row">
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th style="width: 3%"></th>
                        <th style="width: 2%">#</th>
                        <th style="width: 40%">НІК</th>
                        <th style="width: 10%">РОЛЬ</th>
                        <th style="width: 10%">ФОЛИ</th>
                        <th style="width: 10%">КРАЩИЙ</th>
                        <th>БАЛИ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let player of players; let i = index">
                        <td class="text-center">
                            <button md-button class="so-primary-button transparent-button x-button">
                                <i class="material-icons">clear</i>
                            </button>
                        </td>
                        <td class="text-center font-family-alt">{{i + 1}}</td>
                        <td>Nick {{i}}</td>
                        <td>
                            <md-select [(ngModel)]="player.role">
                                <md-option *ngFor="let role of player.rolesAvailable" [value]="role">{{role}}</md-option>
                            </md-select>
                        </td>
                        <td class="text-center font-family-alt">
                            <md-input-container class="so-input white sml-height-input" style="max-width: 70px;">
                                <input mdInput type="number" min="0" max="4" [value]="player.foul" />
                            </md-input-container>
                        </td>
                        <td>
                            <md-select [(ngModel)]="player.bestPlayer">
                                <md-option *ngFor="let best of player.bestPlayersAvailable" [value]="best">{{best}}</md-option>
                            </md-select>
                        </td>
                        <td class="text-center font-family-alt">{{player.result}}</td>
                    </tr>
                    <tr class="players-list-footer">
                        <td colspan="2" class="text-right">
                            <button md-button class="so-primary-button transparent-button x-button">
                                <i class="material-icons">clear</i>
                            </button>
                        </td>
                        <td class="text-right">
                            <button md-button class="so-primary-button transparent-button x-button">
                                <i class="material-icons">refresh</i>
                            </button>
                        </td>
                        <td class="text-right">
                            <button md-button class="so-primary-button transparent-button x-button">
                                <i class="material-icons">check</i>
                            </button>
                            <button md-button class="so-primary-button transparent-button x-button">
                                <i class="material-icons">clear</i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="protocol-footer row">
                <div id="onvote"></div>
                <div id="notonvote" class="center-vertical">
                    <div class="col-lg-2">
                        Виставлення:
                    </div>
                    <div class="col-lg-9">
                        <button md-raised-button class="so-primary-button medium-button" *ngFor="let player of onvote" style="margin-right: 2px;">
                            {{player + 1}}
                        </button>
                    </div>
                    <div class="col-lg-1">
                        <button md-button class="so-primary-button transparent-button x-button">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 protocol-right-aside">
            <div class="row so-timer text-center">
                <button md-button class="so-primary-button transparent-button x-button">
                    <i class="material-icons">volume_mute</i>
                </button>
                <md-slide-toggle class="so-toggle toggle-centered">
                    1 хв
                </md-slide-toggle>
                <div class="timer-table">
                    00:00
                </div>
                <div class="col-lg-8 col-lg-push-2">
                    <div class="so-buttons-row">
                        <button md-raised-button class="so-primary-button">
                            Старт/Стоп
                        </button>
                        <button md-raised-button class="so-primary-button" style="margin-left: 4px">
                            Скинути
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>