@import "../../styles/vars";
@import "../../styles/mixins";

.protocols-container {
    font-family: 'Roboto';
    box-shadow: -1px 0px 4px -1px rgba(0,0,0,0.75);

    .protocol-header {
        background: $main-blue;
        color: white;

        .logo-text {
            line-height: 53px;
            font-family: $font-family-logo;
            font-size: 1.8rem;
            padding-left: 8px;
        }
    }

    .protocol-logo-zone {
        background: $main-white;

        img {
            @include v-margin(12px);
        }

        .left-panel {
            padding-left: 12px;

            .so-buttons-row {
                margin-left: 24px;
            }
        }
    }

    .protocol-players-zone {
        background: $main-white;
        @include h-padding(12px);

        .table {
            thead {
                th {
                    font-family: $font-family;
                    font-size: 1.2rem;
                    text-align: center;
                }
            }

            tbody {
                td {
                    vertical-align: middle;
                }
            }

            .kill-button-td {
                padding: 2px;
                min-width: 30px;
            }

            .player-index-container {
                background: $main-red-hover;
                color: $main-white;
                @include h-padding(4px);
                @include v-padding(4px);
            }

            .white-label-select {
                .mat-select-value-text {
                    color: $main-white !important;
                }

                .mat-select-arrow {
                    color: $main-white !important;
                }
            }

            .role-select {
                .mat-select-trigger {
                    min-width: 80px;
                }
            }
        }
    }

    .protocol-footer {
        background: $main-white;
        padding-bottom: 8px;

        #onvote, #notonvote {
            min-height: 36px;
            line-height: 36px;
        }

        .vote-button {
            padding: 0 6px;
            min-width: 44px;

            .mat-button-wrapper {
                line-height: 36px;
            }
        }
    }
}

.protocol-aside, .protocol-right-aside {
    margin-top: 53px;
    background-color: $main-white;
}

.protocol-aside {
    border-right: 1px solid $grey;

    .protocol-aside-block {
        border-bottom: 1px solid $grey;
        min-height: 54px;

        .mat-radio-container {
            top: 5px !important;
        }

        .small-numeric {
            width: 40px;

            input {
                text-align: center;
            }
        }

        .input-container {
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;

            .mat-input-container {
                margin-right: 4px;
            }
        }
    }
}

.protocol-right-aside {
    border-left: 1px solid $grey;
    @include v-padding(8px);
    
    .timer-table {
        font-size: 8rem;
        font-family: $font-family;
        font-weight: bold;
        padding-bottom: 24px;
    }
}

.so-buttons-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

table {
    .disabled-row {
        background-color: $grey;
    }
}

.check-dialog {
    .table-circle {
        text-align: center;
        margin-top: 20px;
        max-height: 500px;

        ul {
            list-style: none;
            margin-left: -40px;

            li:nth-child(2) {
                button {
                    transform: translateX(110px) translateY(-40px);
                }
            }

            li:nth-child(3) {
                button {
                    transform: translateX(180px) translateY(-40px);
                }
            }

            li:nth-child(4) {
                button {
                    transform: translateX(180px) translateY(-20px);
                }
            }

            li:nth-child(5) {
                button {
                    transform: translateX(110px) translateY(-20px);
                }
            }

            li:nth-child(6) {
                button {
                    transform: translateY(-60px);
                }
            }

            li:nth-child(7) {
                button {
                    transform: translatex(-110px) translateY(-192px);
                }
            }

            li:nth-child(8) {
                button {
                    transform: translateX(-180px) translateY(-364px);
                }
            }

            li:nth-child(9) {
                button {
                    transform: translateX(-180px) translateY(-556px);
                }
            }

            li:nth-child(10) {
                button {
                    transform: translateX(-110px) translateY(-728px);
                }
            }
        }

        .result-container {
            width: 100%;
            @include calc(margin-left, "50% - 75px");

            .result-wrapper {
                width: 150px;
                transform: translateY(-710px);
            }
        }
    }
}

@media screen and (max-width: $resLaptop) {
    .protocol-players-zone {
        .table {
            font-size: 1.2rem;

            td, th {
                padding: 6px;
            }
        }
    }
    
    .protocols-container {
        .protocol-header {
            .logo-text {
                font-size: 1.4rem;
            }
        }
    }

    .protocol-medium-button {
        min-width: 72px !important;
        font-size: 1rem !important;
        padding: 0 8px !important;
    }

    .kill-button-td {
        padding: 0 !important;
        min-width: 20px !important;
    }

    .player-box-td {
        width: 37px !important;
    }
    
    .role-select {
        .mat-select-trigger {
            font-size: 1.4rem;
            height: 20px;

            .mat-select-value {
                left: 4px;
            }
        }
    }

    .vote-button {
        padding: 0 6px !important;
        min-width: 34px !important;

        .mat-button-wrapper {
            line-height: 34px !important;
        }
    }

    .protocol-aside-block {
        min-height: 34px !important;
    }

    .mat-radio-label-content {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: $resXXL) {
    .protocols-container {
        .protocol-header {
            .logo-text {
                font-size: 1.2rem;
            }
        }
    }

    .vote-button {
        padding: 0 6px !important;
        min-width: 30px !important;

        .mat-button-wrapper {
            line-height: 30px !important;
        }
    }

    .protocol-medium-button {
        min-width: 66px !important;
        font-size: 1rem !important;
        padding: 0 2px !important;
    }

    .mat-radio-label-content {
        font-size: 1rem;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .protocols-container {
        .protocol-header {
            .logo-text {
                font-size: 1.8rem;
            }
        }
    }
    
    .protocol-medium-button {
        min-width: 86px !important;
        padding: 6px 2px !important;
    }

    .protocol-players-zone {
        .table {
            font-size: 1.4rem;

            td, th {
                padding: 12px;
            }
        }
    }

    .xs-timer {
        margin-top: 4px;
        margin-bottom: 4px;

        .mat-button-wrapper {
            .material-icons {
                font-size: 3rem;
            }
        }

        .timer-table {
            padding-bottom: 0;
        }
    }

    .xs-params-block {
        margin-top: 4px;

        .protocol-aside-block {
            min-height: 54px !important;
        }
    }

    .full-height-col {
        line-height: 54px;
    }

    #onvote {
        margin-top: 2px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .protocol-aside {
        margin-top: 0;
    }

    .protocols-container {
        .protocol-header {
            .logo-text {
                font-size: 1.4rem;
            }
        }
    }

    .protocol-medium-button {
        min-width: 66px !important;
        font-size: 1rem !important;
        padding: 0 2px !important;
    }

    .embedded-timer {
        margin-top: 0;
        border-left: none;
        border-bottom: 1px solid $grey;

        .mat-button-wrapper {
            .material-icons {
                font-size: 3rem;
            }
        }

        .timer-table {
            padding-bottom: 0;
        }

        .so-toggle {
            margin: 0;
        }
    }

    .role-select {
        .mat-select-trigger {
            font-size: 1.4rem;
            height: 20px;

            .mat-select-value {
                left: 4px;
            }
        }
    }
}

@media screen and (max-height: 800px) {
    .check-dialog {
        width: 500px;

        .table-circle {
            max-height: 350px;

            ul {
                list-style: none;
                margin-left: -40px;

                li:nth-child(2) {
                    button {
                        transform: translateX(90px) translateY(-40px);
                    }
                }

                li:nth-child(3) {
                    button {
                        transform: translateX(140px) translateY(-40px);
                    }
                }

                li:nth-child(4) {
                    button {
                        transform: translateX(140px) translateY(-20px);
                    }
                }

                li:nth-child(5) {
                    button {
                        transform: translateX(90px) translateY(-20px);
                    }
                }

                li:nth-child(6) {
                    button {
                        transform: translateY(-60px);
                    }
                }

                li:nth-child(7) {
                    button {
                        transform: translatex(-90px) translateY(-152px);
                    }
                }

                li:nth-child(8) {
                    button {
                        transform: translateX(-140px) translateY(-284px);
                    }
                }

                li:nth-child(9) {
                    button {
                        transform: translateX(-140px) translateY(-436px);
                    }
                }

                li:nth-child(10) {
                    button {
                        transform: translateX(-90px) translateY(-568px);
                    }
                }
            }

            .table-position-button {
                width: 66px !important;
                height: 66px !important;
            }
        }
    }

    .result-container {
        width: 100%;
        @include calc(margin-left, "50% - 75px");

        .result-wrapper {
            width: 150px;
            transform: translateY(-575px);
        }
    }
}