<div class="page-top clearfix" maxHeight="50">
    <a routerLink="/pages" class="al-logo clearfix"><span class="logo-leftside">Salute</span><span class="logo-rightside">Online</span></a>
    <div class="so-hamburger" (click)="toggleMenu()">
        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
    
    <md-menu #soMenu="mdMenu" class="user-login-menu">
        <button md-menu-item> Увійти </button>
        <button md-menu-item> Зареєструватись </button>
    </md-menu>
    <button md-button [mdMenuTriggerFor]="soMenu" class="user-login-button">
        Увійти/Зареєструватись
    </button>
</div>