<div class="page-top clearfix" maxHeight="50">
    <a routerLink="/pages" class="al-logo clearfix">SALUTE ONLINE</a>
    <a class="collapse-menu-link ion-navicon"></a>
    
    <div class="user-profile clearfix">
        <div class="dropdown al-user-profile">
            <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
                Link
            </a>
            <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
                <li class="dropdown-item"><i class="dropdown-arr"></i></li>
                <li class="dropdown-item"><a href="#"><i class="fa fa-user"></i>Profile</a></li>
            </ul>
        </div>
    </div>
</div>