<div class="page-top clearfix" maxHeight="50">
    <a routerLink="/pages" class="al-logo clearfix"><span class="logo-leftside">Salute</span><span class="logo-rightside">Online</span></a>
    <div class="so-hamburger" (click)="toggleMenu()">
        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>

    <md-menu #soMenu="mdMenu" class="user-login-menu">
        <a md-menu-item [routerLink]="['/login']"> Увійти </a>
        <a md-menu-item [routerLink]="['/register']"> Зареєструватись </a>
    </md-menu>
    <button md-button [mdMenuTriggerFor]="soMenu" class="user-login-button" *ngIf="!userLogged">
        Увійти/Зареєструватись
    </button>
    
    <md-menu #soUserMenu="mdMenu" class="user-login-menu">
        <button md-menu-item [routerLink]="['/pages/usersettings']"> Налаштування </button>
        <button md-menu-item (click)="logout()"> Вийти </button>
    </md-menu>
    <button md-fab [mdMenuTriggerFor]="soUserMenu" class="user-profile-button" *ngIf="userLogged">
        
    </button>
</div>