<div class="so-dialog" [ngClass]="config.customClass">
    <h1 class="so-dialog-title" md-dialog-title>{{config.header}}</h1>
    <div class="so-dialog-content" md-dialog-content>{{config.content}}</div>
    <div md-dialog-actions class="so-dialog-buttons">
        <button md-button (click)="dialogRef.close(true)" class="so-primary-button blue-button">{{config.okButton}}</button>
        <button md-button (click)="dialogRef.close(false)" class="so-primary-button margin-left-min">{{config.cancelButton}}</button>
    </div>
</div>