@import "../vars";

.mat-checkbox {

    &.white {
        .mat-checkbox-inner-container {
            .mat-checkbox-frame {
                border-color: $main-red-hover;
            }
        }

        .mat-checkbox-label {
            color: $main-white;
            margin-left: 4px;
        }
    }

    &.white.mat-checkbox-checked {
        .mat-checkbox-inner-container {
            .mat-checkbox-background {
                background-color: $main-red;

                &:hover {
                    background-color: $main-red-hover;
                }
            }
        }
    }

    &.disabled-checkbox {
        .mat-checkbox-inner-container {
            .mat-checkbox-frame {
                border-color: $grey;
            }
        }
    }
}