@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import "styles/mixins";
@import "styles/vars";
@import "styles/socicon";
$ionicons-font-path: "~ionicons/fonts";
@import "~ionicons/scss/ionicons";
@import "styles/buttons";
@import "styles/angular-material-overloads/input";
@import "styles/angular-material-overloads/button";
@import "styles/custom-components/so-spinner";

body {
    background: linear-gradient(to left top, #c52a2a, #D32F2F);

    .loader {
        display: none;
        position: absolute;
        top: calc(50% - 32px);
        left: calc(50% - 32px);
        width: 64px;
        height: 64px;
        border-radius: 50%;
        perspective: 800px;
        
        .inner {
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border-radius: 50%;

            &.one {
                left: 0%;
                top: 0%;
                animation: rotate-one 1s linear infinite;
                border-bottom: 3px solid #EFEFFA;
            }

            &.two {
                right: 0%;
                top: 0%;
                animation: rotate-two 1s linear infinite;
                border-right: 3px solid #EFEFFA;
            }

            &.three {
                right: 0%;
                bottom: 0%;
                animation: rotate-three 1s linear infinite;
                border-top: 3px solid #EFEFFA;
            }
        }   
    }
}

.so-main {
    margin-left: $sidebar-width;
    margin-right: $sidebar-right-width;
    padding: 66px 0 34px 0;
    min-height: 500px;
    position: relative;

    .so-content {
        padding: 8px 32px 8px 40px;
    }

    @media screen and (max-width: $resXS) {
        .so-content {
          padding: 8px 20px;
        }
    }
}

.loading-page {
    display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: -1;
    opacity: 0;
    transition: 1.5s ease-in-out all;

    &.active {
        opacity: 1 !important;
        z-index: 10000;
    }

    div {
        @include position-center;
	    width: 100%;
	    height: 100px;
	    line-height: 100px;

        span {
            font-size: 2.4rem;
		    display: inline-block;
		    margin: 0 5px;
		    color: #fff;
            font-family: 'Quattrocento Sans', sans-serif;
		    @for $i from 0 through 5 {
			    &:nth-child(#{$i + 1}) {
				    filter: blur(0px);
				    animation: blur-text 1.5s #{$i/5}s infinite linear alternate;
			    }
		    }
	    }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 500000000s ease-in-out 0s;
    -webkit-text-fill-color: $main-white;
}

@keyframes blur-text {
	0% {filter: blur(0px);}
	100% {filter: blur(4px);}
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@media (max-width: 590px) {
    .so-main {
        padding-bottom: 76px;
    }
}