@mixin position-center($text-align: center) {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: $text-align;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin hamburger-transition($translateX, $rotate) {
    -webkit-transform: translateX($translateX) rotate($rotate);
    -ms-transform: translateX($translateX) rotate($rotate);
    -o-transform: translateX($translateX) rotate($rotate);
    transform: translateX($translateX) rotate($rotate);
}

@mixin bg-translucent-dark($opacity) {
  background: rgba(0, 0, 0, $opacity);
}