@import "vars";

.socicon {
    font-family: 'socicon' !important;
}

.socicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'socicon';
    font-style: normal;
    font-weight: $font-normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

@mixin socicon($background, $content) {
    background-color: $background;
    cursor: pointer;

    &:before {
        content: $content;
    }

    &:hover {
        background-color: darken($background, 10%);
    }
}

.socicon-twitter {
    @include socicon($twitter-color, "a");
}

.socicon-facebook {
    @include socicon($facebook-color, "b");
}

.socicon-google {
    @include socicon($google-color, "c");
}

.socicon-linkedin {
    @include socicon($linkedin-color, "j");
}

.socicon-github {
    @include socicon($github-color, "Q");
}

.socicon-stackoverflow {
    @include socicon($stackoverflow-color, "(");
}

.socicon-dribble {
    @include socicon($dribble-color, "D");
}

.socicon-behace {
    @include socicon($behace-color, "H");
}