$small-card-height: 114px;
$xsmall-card-height: 187px;
$medium-card-height: 400px;
$extra-medium-card-height: 550px;
$large-card-height: 974px;

$default-animation-duration: 0.2s;
$default-animation-style: ease-out;

$assets-root: 'assets/';
$images-root: $assets-root + 'img/';
$fonts-root: $assets-root + 'fonts/';
$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-bolder: 500;
$font-ultraBold: 900;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #dd4b39;
$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;

$sidebar: #282828;
$sidebar-text: #ffffff;

$primary: #00abff !default;

// colors

$main-red: #D32F2F;
$main-red-hover: #d74444;
$main-white: #fcf1f1;
$background-color: #1F1F1F;
$main-blue: #00abff;
$main-blue-darker: #009eeb;
$primary-dark: shade($primary, 15%);
$main-green: #2FD381;
$main-dark-grey: #292929;
$main-semi-dark-grey: #535353;

$main-light: #f9f6f6;
$main-grey: rgba(252,241,241,0.25);
$grey: #d3d3d3;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #dd4b39;
$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;

// sizes

$top-height: 66px;

$sidebar-width: 180px;
$sidebar-scroll-width: 4px;

$sidebar-right-width: 300px;

// resolutions

$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

// paths

$assets-root: 'assets/';
$images-root: $assets-root + 'img/';
$main-bg-image: $images-root + 'debut_light.png';

// fonts

$font-family: 'Ubuntu Condensed', sans-serif;
$font-family-logo: 'Fjalla One', sans-serif;
$font-normal: 400;

// padding

$default-padding: 16px;