@import "../../styles/vars";

.user-profile {
    border-radius: 0;
    background: $background-color;
    color: $main-white;

    md-card-header {
        height: 100px;

        img {
            height: 100px;
            width: 100px;
        }

        .md-card-header-text {
            md-card-title {
                font-size: 2rem;
            }

            md-card-subtitle {
                color: $main-white;
                margin-top: 10px;
                

                .email-field {
                    .md-input-wrapper {
                        width: 300px;

                        input.md-input-element {
                            font-size: 1.6rem;
                        }
                    }   
                }
            }
        }
    }
}

.so-dark-tabgroup {
    .md-tab-header {
        background-color: $background-color;
        border-bottom: none;

        .md-tab-label {
            color: $main-white;
            opacity: 1;
        }
    }

    md-tab-body {
        background: $background-color;

        .md-tab-body-content {
            padding: 0 16px;
            color: $main-white;
        }
    }
}

md-ink-bar {
    background-color: $main-red;
}

.md-input-placeholder {
    color: $main-red;
    font-family: $font-family;
    font-weight: normal;
    font-size: 2rem !important;

    &.md-focused {
        color: $main-red-hover;
    }
}

.md-input-underline {
    .md-input-ripple {
        background-color: $main-red-hover;
    }
}