header {
    height: 66px;
    background-color: #282828;
    position: fixed;
    z-index: 1000;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
    padding: 0 32px 0 40px;
    width: 100%;

    .header-logo {
        color: #fff;
        display: block;
        font-size: 24px;
        font-family: Roboto, sans-serif;
        white-space: nowrap;
        float: left;
        outline: none !important;
        line-height: 60px;
        text-decoration: none !important;
    }
}