@import "../../styles/vars";
@import "../../styles/mixins";

.so-sidebar {
    font-family: $font-family;
    width: $sidebar-width;
    top: $top-height;
    left: 0;
    z-index: 1001;
    display: block;
    min-height: 100%;
    background-color: $background-color;
    height: 100%;
    position: fixed;
}

.so-sidebar-list {
    margin: 0;
    overflow: hidden;
    padding: 10px 0 0;
    list-style: none;
}

.subitem-submenu-link {
  .fa {
    top: 7px;
  }
}

.so-sidebar-list-item {
    display: block;
    position: relative;
    float: none;
    padding: 0;
    &:not(.with-sub-menu) {
        a.so-sidebar-list-link:hover {
            color: $main-blue;
        }
    }
    &.selected:not(.with-sub-menu) {
        background-color: $main-red-hover;
        a.so-sidebar-list-link {
            color: $main-white;
            b {
                color: $main-white;
            }
        }
    }
}

.so-sidebar-item-expanded {
    > ul.so-sidebar-sublist {
        display: block! important;
    }
}

.so-sidebar-list-item, .so-sidebar-sublist-item {
  &.so-sidebar-item-expanded {
    > .so-sidebar-list-link {
      b {
        transform: rotate(180deg);
      }
    }

    > .so-sidebar-sublist {
      display: block;
    }
  }
}

a.so-sidebar-list-link {
    display: block;
    height: 42px;
    padding-left: 18px;
    text-shadow: none;
    font-size: 14px;
    text-decoration: none;
    color: $main-white;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    
    &:hover {
        color: $main-white;
        b {
          color: $main-white;
        }
    }
    i {
        margin-right: 18px;
        width: 16px;
        display: inline-block;
    }
    b {
        display: block;
        opacity: 1;
        width: 14px;
        height: 14px;
        line-height: 14px;
        text-shadow: none;
        font-size: 18px;
        position: absolute;
        right: 10px;
        top: 12px;
        padding: 0;
        text-align: center;
        color: $main-white;
        transition: transform 0.2s linear;
    }
}

@mixin default-sublist() {
    padding: 0;
    list-style: none;
    position: relative;
    display: none;
    
    &.expanded {
        display: block;
    }
  
    > so-menu-item > li {
        display: block;
        float: none;
        padding: 0;
        border-bottom: none;
        position: relative;
        
        a {
            display: block;
            text-shadow: none;
            font-size: 14px;
            text-decoration: none;
            color: $main-white;
            padding-left: 52px;
            height: auto;
            line-height: 29px;
            
            &:hover {
                color: $main-blue;
            }
        }
        &.selected:not(.with-sub-menu) > a {
            border: none;
            background-color: $main-blue;
            
            &:hover {
                color: $main-white;
            }
        }
    }
}

.so-sidebar-hover-elem {
    width: $sidebar-scroll-width;
    background: $main-red-hover;
    position: absolute;
    top: -150px;
    left: $sidebar-width - $sidebar-scroll-width;
    transition: all 0.5s ease;
    transition-property: top, height;
    height: 42px;
    display: block;
}

.sidebar-select-elem {
    display: block;
    top: 94px;
}

.so-sidebar-sublist {
    @include default-sublist();
}

@mixin sidebar-collapsed() {
    .so-sidebar {
        width: 52px;

    .fa-angle-down, .fa-angle-up {
        opacity: 0;
    }

    .so-sidebar-sublist {
        @include bg-translucent-dark(0.8);
        position: absolute;
        top: -1px;
        left: 52px;
        width: 0;
        display: block;
        overflow: hidden;
        transition: width 0.5s ease;
        
        &.slide-right {
            width: 135px;
        }
        
        &:before {
            display: none;
        }
        
        li {
            &:before {
                display: none;
            }
            a {
                padding-left: 18px;
                padding-right: 18px;
                min-width: 130px;
                white-space: nowrap;
            }
        }
    }

    .so-sidebar-hover-elem, .so-sidebar-select-elem {
        left: 48px;
    }
  }
}

@mixin layout-collapsed() {
    .so-main {
        margin-left: 50px;
    }

    .so-footer {
        padding-left: 83px
    }
}

@mixin sidebar-hidden() {
    .so-sidebar {
        width: 0;
    }
    .so-sidebar-hover-elem, .so-sidebar-select-elem {
        display: none;
    }
}

@mixin sidebar-overlap() {
    .so-sidebar {
        @include bg-translucent-dark(0.75);
        width: $sidebar-width;
        transition: width 0.5s ease;

        .fa-angle-down, .fa-angle-up {
            opacity: 1;
        }

        .so-sidebar-sublist {
            @include default-sublist();
            top: auto;
            left: auto;
            background: none;
            width: auto;
            overflow: visible;
            transition: none;
        }

        .so-sidebar-hover-elem, .so-sidebar-select-elem {
            left: $sidebar-width - 4;
            transition: left 0.5s ease;
        }
    }
}

.menu-collapsed {
    .slimScrollBar, .slimScrollRail {
        display: none!important;
    }
}

@media (min-width: 1200px) {
    .menu-collapsed {
        @include layout-collapsed();
    }
}

@media (min-width: $resXS + 1) {
    .menu-collapsed {
        @include sidebar-collapsed();
    }
}

@media (max-width: 1200px) and (min-width: $resXS) {
    @include layout-collapsed();
}

@media (max-width: 1200px) {
     @include sidebar-overlap();
}

@media (max-width: $resXS) {
    .menu-collapsed {
        @include sidebar-hidden();
    }
    .so-main {
        margin-left: 0;
    }
    .so-footer {
        padding-left: 0;
    }
}

@media (min-width: 500px) {
    .menu-collapsed {
        @include sidebar-collapsed();
    }
}