@import "../vars";

.so-autocomplete-popup {
    border-radius: 0 !important;
    font-family: $font-family !important;
    font-size: 1.4rem !important;
}

.so-autocomplete-input {
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid $grey !important;
    outline: none !important;

    &:focus {
        box-shadow: none !important;
        border-bottom: 2px solid $main-red !important;
    }
}


.ui-autocomplete-panel {
    border: none !important;
    width: 250px !important;
    border-radius: 0 !important;
    background-color: $main-white;

    .ui-autocomplete-list {
        border-radius: 0 !important;
        padding: 0 !important;
        background-color: $main-white;

        .ui-autocomplete-list-item {
            border-radius: 0 !important;
            padding: 0.4em 0.8em !important;

            &.ui-state-highlight {
                background-color: $main-red-hover !important;
                color: $main-white;
            }
        }
    }
}
