@import "../vars";

.check-dialog {
    border-radius: 0 !important;

    .ui-widget-header {
        background: $main-blue;
        color: white;
    }

    p-footer {
        display: block !important;
        margin-bottom: 8px !important;
    }

    .ui-dialog-content {
        overflow: hidden !important;
    }

    .ui-dialog-title {
        p-header {
            font-family: $font-family-logo !important;
        }
    }
}
